---
---

@import "{{ site.theme }}";

b { font-weight: bold; }

#project_title a { color: unset; }

figure {
  margin: 10px 0 15px 0;
}

figure.box {
  margin: 0.8em auto;
  text-align: center;
  font-size: small;
}

figure.gallery {
  white-space: nowrap;
  overflow-x: auto;
}

figure.gallery img {
  margin: 0;
  border: none;
  object-fit: contain;
  max-height: 300px;
}
