html {
  font-size: 18px;
}

body {
  display: table;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle, #CC3333 1%, #333333);
  color: #FFFFFF;
  font-family: helvetica, arial, sans-serif;
  font-size: 1rem;
}

#wrapper {
  display: table-cell;
  padding: 0 .5rem 0;
  vertical-align: middle;
}

#content {
  box-sizing: border-box;
  margin: -5.3rem auto 0;
  padding: 5.3rem .5rem .5rem .5rem;
  max-width: 28rem;
  background-image: url("img/content-farm-marker-white.svg");
  background-position: __MSG_@@bidi_start_edge__ top;
  background-size: 5.3rem;
  background-repeat: no-repeat;
  filter: drop-shadow(.1rem .1rem .4rem rgba(0,0,0,.87));
}

#messageHeader {
  margin-top: .4rem;
}

#warningUrl {
  word-break: break-all;
}

#warningUrl.regex,
#warningUrl.invalid {
  font-size: 0.8em;
}

#messageText {
  margin-top: 1.8rem;
  margin-bottom: 2.2rem;
  font-size: 1.2rem;
}

a {
  color: #FFFFFF;
  text-decoration: underline;
}

#buttonBar {
  margin-top: 3.6rem;
}

button {
  border: 1px solid #CCCCCC;
  border-radius: 2px;
  padding: .3rem;
  background: none;
  color: #FFFFFF;
  cursor: pointer;
}

button[disabled] {
  opacity: .3;
  cursor: initial;
}

button:hover {
  background-color: rgba(255,255,255,0.3);
}

button[disabled]:hover {
  background: none;
}

#back {
  float: __MSG_@@bidi_end_edge__;
}

@media screen and (max-width: 28rem) {
  body {
    font-size: .8rem;
  }

  #content {
    margin-top: -3rem;
    padding: 3rem .3rem .3rem .3rem;
    background-size: 3rem;
  }

  #messageHeader {
    margin-top: .3rem;
  }

  #messageText {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    font-size: 1rem;
  }

  #buttonBar {
    margin-top: 2rem;
  }

  .button {
    padding-__MSG_@@bidi_start_edge__: .3rem;
    padding-__MSG_@@bidi_end_edge__: .3rem;
    height: 1.5rem;
    line-height: 1.5rem;
  }
}
