html {
  font-size: 18px;
}

body {
  display: table;
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(circle, #CC3333 1%, #333333);
  color: #FFFFFF;
  font-family: helvetica, arial, sans-serif;
  font-size: 1rem;
}

#wrapper {
  display: table-cell;
  padding: 0 .5rem 0;
  vertical-align: middle;
}

#content {
  box-sizing: border-box;
  margin: -5.3rem auto 0;
  padding: 5.3rem .5rem .5rem .5rem;
  max-width: 28rem;
  background: no-repeat 0px 0px/5.3rem url("img/content-farm-marker-white.svg");
}

#messageHeader {
  margin-top: .4rem;
}

#messageText {
  margin-top: 1.8rem;
  margin-bottom: 2.2rem;
  font-size: 1.2rem;
}

a {
  color: #FFFFFF;
  text-decoration: underline;
}

#buttonBar {
  margin: 3.6rem -.5rem 0 -.5rem;
}

.button {
  display: inline-block;
  border-radius: 2px;
  padding-left: .5rem;
  padding-right: .5rem;
  height: 1.8rem;
  line-height: 1.8rem;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  background-color: rgba(255,255,255,0.3);
}

#back {
  float:right;
  border: 1px solid #fff;
}

@media screen and (max-width: 28rem) {
  body {
    font-size: .8rem;
  }

  #content {
    margin-top: -3rem;
    padding: 3rem .3rem .3rem .3rem;
    background-size: 3rem;
  }

  #messageHeader {
    margin-top: .3rem;
  }

  #messageText {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    font-size: 1rem;
  }

  #buttonBar {
    margin: 2rem -.3rem 0 -.3rem;
  }

  .button {
    padding-left: .3rem;
    padding-right: .3rem;
    height: 1.5rem;
    line-height: 1.5rem;
  }
}
