html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
  width: 80%;
  min-width: 700px;
  font-size: 1rem;
}

.header img {
  display: inline-block;
  margin-__MSG_@@bidi_end_edge__: .5rem;
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
}

.header h1 {
  display: inline-block;
  margin: 1rem 0;
  padding: 0;
  vertical-align: middle;
  font-size: 1.5rem;
}

.header span {
  opacity: 0.6;
}

.field {
  box-sizing: border-box;
  margin: 1.75rem 0 0 0;
  padding: 0;
  overflow: hidden;
}

.fieldLabel {
  float: __MSG_@@bidi_start_edge__;
  box-sizing: border-box;
  padding-__MSG_@@bidi_end_edge__: .5rem;
  width: 32%;
}

.fieldLabel h2 {
  margin: 0 0 .5rem 0;
  font-size: 1.125rem;
}

.fieldLabel span {
  font-size: 1rem;
  opacity: 0.6;
}

.fieldset {
  float: __MSG_@@bidi_end_edge__;
  box-sizing: border-box;
  width: 68%;
}

.fieldset textarea {
  box-sizing: border-box;
  width: 100%;
  height: 144px;
  resize: vertical;
  font-size: .875rem;
}

textarea[readonly] {
  background-color: #DDDDDD;
}

.button {
  display: inline-block;
  border: 1px solid #C1C1C1;
  border-radius: 5px;
  padding: 10px 14px;
  background-color: #EEEEEE;
  text-align: center;
  text-decoration: none;
  color: #333333;
  font-size: 1rem;
  text-transform: uppercase;
}

.button:hover {
  background-color: #EBEBEB;
}

#resetButton {
  float: __MSG_@@bidi_start_edge__;
}

#submitButton {
  float: __MSG_@@bidi_end_edge__;
}

#tabs {
  /* https://codepen.io/MarekZeman91/pen/wBwbrp */
  margin-top: 1rem;
  padding: 4px;
  background-color: black;
}

#tabs::after {
  display: block;
  content: "";
  clear: both;
}

.tab-switch {
  position: fixed;
}

.tab-switch:target + .tab-link + .options {
  display: block;
  padding: 1rem;
}

.tab-switch:target + .tab-link {
  background-color: white;
  color: black;

}

.tab-link {
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  color: white;
}

.options {
  box-sizing: border-box;
  float: right;
  display: none;
  width: 100%;
  background-color: white;
}

.material-switch {
  /* https://bootsnipp.com/snippets/featured/material-design-switch */
  display: inline-block;
}

.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  display: inline-block;
  margin-bottom: 5px;
  position: relative;
  height: 0px;
  width: 40px;
  max-width: 100%;
  background-color: #5cb85c;
  cursor: pointer;
}

.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position: absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}

.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}

.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}

@media screen and (max-width: 720px) {
  body {
    width: 100%;
    min-width: initial;
  }
  .fieldLabel {
    padding: 0;
    width: 100%;
  }
  .fieldset {
    margin-top: .5rem;
    width: 100%;
  }
}
