html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  margin: auto;
  padding: 20px;
  width: 80%;
  min-width: 700px;
  font-size: 1rem;
}

.header img {
  display: inline-block;
  margin-__MSG_@@bidi_end_edge__: .5rem;
  width: 3rem;
  height: 3rem;
  vertical-align: middle;
}

.header h1 {
  display: inline-block;
  margin: 1rem 0;
  padding: 0;
  vertical-align: middle;
  font-size: 1.5rem;
}

.header span {
  opacity: 0.6;
}

#urlInfo {
  word-break: break-all;
}

.field {
  box-sizing: border-box;
  margin: 1.75rem 0 0 0;
  padding: 0;
  overflow: hidden;
}

.fieldLabel {
  float: __MSG_@@bidi_start_edge__;
  box-sizing: border-box;
  padding-__MSG_@@bidi_end_edge__: .5rem;
  width: 32%;
}

.fieldLabel h2 {
  margin: 0 0 .5rem 0;
  font-size: 1.125rem;
}

.fieldLabel span {
  font-size: 1rem;
  opacity: 0.6;
}

.fieldset {
  float: __MSG_@@bidi_end_edge__;
  box-sizing: border-box;
  width: 68%;
}

.fieldset textarea {
  box-sizing: border-box;
  width: 100%;
  height: 144px;
  resize: vertical;
  font-size: .875rem;
  word-break: break-all;
}

textarea[readonly] {
  background-color: #DDDDDD;
}

.button {
  display: inline-block;
  border: 1px solid #C1C1C1;
  border-radius: 5px;
  padding: 10px 14px;
  background-color: #EEEEEE;
  text-align: center;
  text-decoration: none;
  color: #333333;
  font-size: 1rem;
  text-transform: uppercase;
}

.button:hover {
  background-color: #EBEBEB;
}

#resetButton {
  float: __MSG_@@bidi_start_edge__;
}

#submitButton {
  float: __MSG_@@bidi_end_edge__;
}

/* https://bootsnipp.com/snippets/featured/material-design-switch */
.material-switch {
  display: inline-block;
  position: relative;
}

.material-switch > input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.material-switch > input[type="checkbox"] + label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin: 6px;
  border-radius: 8px;
  width: 40px;
  height: 16px;
  opacity: 0.3;
  background-color: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}

.material-switch > input[type="checkbox"] + label::after {
  position: absolute;
  top: -4px;
  left: -4px;
  border-radius: 16px;
  width: 24px;
  height: 24px;
  content: "";
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.material-switch > input[type="checkbox"]:checked + label {
  background-color: #5cb85c;
  opacity: 0.5;
}

.material-switch > input[type="checkbox"]:checked + label::after {
  background-color: inherit;
  left: 20px;
}

.material-switch > input[type="checkbox"]:focus + label {
  outline: .1em solid #4D90FE;
  transition-duration: 0s;
}

@media screen and (max-width: 720px) {
  body {
    width: 100%;
    min-width: initial;
  }
  .fieldLabel {
    padding: 0;
    width: 100%;
  }
  .fieldset {
    margin-top: .5rem;
    width: 100%;
  }
}
