@keyframes spin {
  from { transform: rotate(0turn); }
  to { transform: rotate(1turn); }
}

html {
  height: 100%;
}

body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
}

#viewer {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid #666;
  border-color: #666 transparent;
  border-radius: 20px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  animation: spin 1s linear infinite;
}
