body {
  margin: 0;
  border: 0;
  padding: 0;
}

#wrapper {
  position: relative;
  height: 100vh;
}

#viewer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}
